{{!-- This hadles movie review --}}
<!DOCTYPE html>
<html lang="en">
 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Movie review</title>
  <!-- FontAwsome link -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
  integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
  <!--Added Boostrap Stylesheet link-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!--Added my CSS file link -->
  <link rel="stylesheet" href="./main.css" media="screen">
  <!-- jquery link  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
<head>
    <title>Movie Review</title>
</head>

<body>
    {{{ body }}}
</body>

</html>