/* body for all files need to have " Times New Roman" font */
/* used local Jpg  image   */
body {
  background-image: url(remote.jpg);
  background-size: 99.5% 99.5%;
  margin: 5%;
  font-family: Georgia, Times, "Times New Roman", serif;

  
}

html {
  
  
  min-height: 100%;
  position: relative;
}
h1{
  color: rgb(5, 21, 71);
  font-size: 60px;
  margin-top: 2%;
  margin-bottom: 2%;
  background-origin: padding-box;
  background-color: rgba(0, 0, 255, 0.075);
  
}
 #src1{
  width: 70%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
 }
 #src1 :focus {
  width: 100%;
}

main {
  margin: 70px 0;
}

.block {
  background-color: #fff;
  padding: 33px;
  /* margin-bottom: 35px; */
}

.block-header {
  font-size: larger;
  color: #4aaaa5;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}
/* ID me means about me top written col, changed font, font size and font color */
#icon {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 25px;
color: #4aaaa4;
}
/* navbar links :hover  */
.navbar-default .navbar-nav > li > a:hover {
  color: #4aaaa5;
}

.navbar {
  border: 2px;
  background: white;
  
}


  .navbar-header {
    background-color: #4aaaa4;
  }

.connect-header {
  font-size: 25px;
}

.connect-photo {
  width: 55px;
  height: 55px;
}

#images {
  padding-top: 15px;
  text-align: center;
}
/* End of contect*/

.footertext {
  margin-top: 15px;
  color: #eeeeee;
}

.footerline {
  
  height: 6px;
  padding-top: 3px;
  background-color: #4aaaa5;
}
/*  FOOTER ends here */

/* About page starts here  */
.about-me-header {
  margin-bottom: 33px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 32px;
  font-weight: bold;
  color: #4aaaa5;
}
/* floating my image to the left to have paragraph on the right  */
#image {
  
  float: left;
  width: 220px;
  margin: 0 30px 8px 0;
}
/*  About page ends*/


/* portfolio */
.port-image {
  margin: 20px auto;
}
/* end of Protfolio */


.form-control {
  border-radius: 0;
  min-width: 100%;
  max-width: 100%;
}

.submit {
  
  padding: 20px 25px;
  font-size: 16px;
  font-weight: lighter;
  color: #fff;
  background-color: #4aaaa5;
  border: 5px;
}

.submit:hover{
  opacity: .9;
}
    
h4{
  width: 300px;
  
  }
      .sidebar {
        width: fit-content;
        height: fit-content;
        max-width: 300px;
        padding: 35px;
        margin-bottom: 20px;
        margin-left: 60px;
        float: right;
        padding-bottom: 20px;
        margin-bottom: 15px;
        line-height: 22px;
        border: 1px solid #ddd;
        background: rgba(255, 255, 255, 0.26);
      }
  
      .sidebar a:hover img {
        border: 3px solid #470a0a;
      }
  
  
      .social {
        position: relative;
        width: 50px;
        height: 50px;
        margin: 5px;
      }
       .port-image {
width: 95%;
height: 90%;
border: 5px;
border-color: #666;

      }
      /* #container{
        background-color: rgba(38, 46, 24, 0.555);
        background-image: url(./giphy.gif);
        width: 100%;
        height: 162%;
      } */
      .w-100{
        height: 25rem;
        width: 10rem;
      }
#select{
  height: 2rem;
  width: 14rem;
  border: 1px solid #00B4CC;
  margin-bottom: 3rem;
}
#white{
  color: rgb(255, 253, 253);
  
}
*****


.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 80%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 39px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
